<div class="banner-store d-flex pl-3 pl-lg-5 align-items-center text-center justify-content-center">
  <div>
    <h1 class="text-slanted text-capitalize display-4 text-yellow">
      comfy sloth
    </h1>
    <h1 class="text-capitalize display-4 font-weight-bold">
      our store
    </h1>
  </div>
</div>
<!-- totals -->
<section class="totals py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-uppercase text-center">

        <!-- end of columns -->
        <div class="my-3 align-items-center outer-box-all">
          <div class="row">
            <!-- single column -->
            <div class="col-10 mx-auto col-md-2">
              <p class="text-uppercase">
                products
              </p>
            </div>
            <!-- end of single column -->
            <!-- single column -->
            <div class="col-10 mx-auto col-md-4">
              <p class="text-uppercase">
                name of products
              </p>
            </div>
            <!-- end of single column -->
            <!-- single column -->
            <div class="col-10 mx-auto col-md-2">
              <p class="text-uppercase">
                price
              </p>
            </div>
            <!-- end of single column -->
            <!-- single column -->
            <div class="col-10 mx-auto col-md-2">
              <p class="text-uppercase">
                quantity
              </p>
            </div>
            <!-- end of single column -->
            <!-- single column -->
            <div class="col-10 mx-auto col-md-2">
              <p class="text-uppercase">
                total
              </p>
            </div>
            <!-- end of single column -->
            <!-- single column -->
            <!-- <div class="col-1 mx-auto col-md-2">
              <p class="text-uppercase">
                Action
              </p>
            </div> -->
            <!-- end of single column -->
          </div>
          <hr>
          <!-- all about product -->
          <div class="d-flex row single-product-row">
            <div class="recycle-main col-12">
              <p>x</p>
            </div>
            <div class="col-10 mx-auto col-md-2 my-3">
              <img src="assets/img/img-products/product-1.png" alt="" class="img-fluid">
            </div>
            <div class="col-10 mx-auto col-md-4">
              <p class="text-uppercase">
                comfortable chair
              </p>
            </div>
            <div class="col-10 mx-auto col-md-2">
              <p class="text-uppercase">
                100.00$
              </p>
            </div>
            <div class="col-10 mx-auto col-md-2">
              <div class="d-flex justify-content-center align-items-center">
                <span class="btn btn-black mx-1">-</span>
                <span class="btn btn-black mx-1">4</span>
                <span class="btn btn-black mx-1">+</span>
              </div>
            </div>
            <div class="col-10 mx-auto col-md-2">
              <p class="text-uppercase">
                100.00$
              </p>
            </div>

          </div>

          <!-- end of all about product -->
          <!-- all about product -->
          <div class="d-flex row single-product-row">
            <div class="recycle-main col-12">
              <p>x</p>
            </div>
            <div class="col-10 mx-auto col-md-2 my-3">
              <img src="assets/img/img-products/product-2.png" alt="" class="img-fluid">
            </div>
            <div class="col-10 mx-auto col-md-4">
              <p class="text-uppercase">
                comfortable chair
              </p>
            </div>
            <div class="col-10 mx-auto col-md-2">
              <p class="text-uppercase">
                100.00$
              </p>
            </div>
            <div class="col-10 mx-auto col-md-2">
              <div class="d-flex justify-content-center align-items-center">
                <span class="btn btn-black mx-1">-</span>
                <span class="btn btn-black mx-1">4</span>
                <span class="btn btn-black mx-1">+</span>
              </div>
            </div>
            <div class="col-10 mx-auto col-md-2">
              <p class="text-uppercase">
                100.00$
              </p>
            </div>
          </div>
          <!-- end of all about product -->
          <!-- all about product -->
          <div class="d-flex row single-product-row">
            <div class="recycle-main col-12">
              <p>x</p>
            </div>
            <div class="col-10 mx-auto col-md-2 my-3">
              <img src="assets/img/img-products/product-3.png" alt="" class="img-fluid">
            </div>
            <div class="col-10 mx-auto col-md-4">
              <p class="text-uppercase">
                comfortable chair
              </p>
            </div>
            <div class="col-10 mx-auto col-md-2">
              <p class="text-uppercase">
                100.00$
              </p>
            </div>
            <div class="col-10 mx-auto col-md-2">
              <div class="d-flex justify-content-center align-items-center">
                <span class="btn btn-black mx-1">-</span>
                <span class="btn btn-black mx-1">4</span>
                <span class="btn btn-black mx-1">+</span>
              </div>
            </div>
            <div class="col-10 mx-auto col-md-2">
              <p class="text-uppercase">
                100.00$
              </p>
            </div>

          </div>
          <!-- end of all about product -->
          <!-- cart total -->
          <div class="row">
            <div class="col mx-auto col-sm-12 col-md-12 col-lg-12 my-3">
              <div class="card card-body text-uppercase cart-card-pre">
                <!-- <div class="card-title text-white">
                  <h6>cart total</h6>
                </div> -->
                <div class="row col-md-4 text-end">
                  <!-- single row -->
                  <div class="col-6">
                    SUB TOTOAL
                  </div>
                  <div class="col-6">
                    $900.00
                  </div>
                  <!-- end of single row -->
                  <!-- single row -->
                  <div class="col-6">
                    TAX
                  </div>
                  <div class="col-6">
                    $123.00
                  </div>
                  <!-- end of single row -->
                  <!-- single row -->
                  <div class="col-6">
                    SHIPPING
                  </div>
                  <div class="col-6">
                    $90.00
                  </div>
                  <!-- end of single row -->
                  <!-- single row -->
                  <div class="col-6 my-2">
                    <strong>ORDER TOTAL</strong>
                  </div>
                  <div class="col-6 text-danger my-2">
                    <strong>$1000.00</strong>
                  </div>
                  <!-- end of single row -->
                </div>
              </div>
            </div>
          </div>
          <!-- end of cart total -->
          <div class="row my-3">
            <div class="col-sm-12 mx-auto col d-flex justify-content-center flex-wrap button-right-cart">
              <button type="button" class="btn btn-black my-2">Continue shipping</button>
              <button type="button" class="btn btn-yellow ml-2 my-2 btn-padding">checkout</button>
            </div>
          </div>
        </div>
        <!-- buttons -->


        <!-- end of buttons -->
      </div>
    </div>
  </div>
</section>
<!-- end of totals -->

<!-- featured section -->
<section id="featured" class="featured py-5">
  <div class="container">
    <div class="row my-3">
      <div class="col-10 mx-auto text-center">
        <h1 class="text-uppercase">
          featured products
        </h1>
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, deleniti?
        </p>
      </div>
    </div>
    <div class="row">
      <!-- single product -->
      <div class="col-10 mx-auto col-md-6 col-lg-4">
        <div class="featured-container p-5">
          <img src="assets/img/img-products/product-1.png" alt="" class="img-fluid">
          <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
            <i class="fas fa-search"></i>
          </span>
          <a href="#" class="featured-store-link text-capitalize">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2">
          special product
        </h6>
        <h6 class="text-center">
          <span class="text-muted old-price mx-2">$200</span>
          <span>$100</span>
        </h6>
      </div>
      <!-- end of single product -->
      <!-- single product -->
      <div class="col-10 mx-auto col-md-6 col-lg-4">
        <div class="featured-container p-5">
          <img src="assets/img/img-products/product-6.png" alt="" class="img-fluid">
          <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
            <i class="fas fa-search"></i>
          </span>
          <a href="#" class="featured-store-link text-capitalize">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2">
          special product
        </h6>
        <h6 class="text-center">
          <span class="text-muted old-price mx-2">$200</span>
          <span>$100</span>
        </h6>
      </div>
      <!-- end of single product -->
      <!-- single product -->
      <div class="col-10 mx-auto col-md-6 col-lg-4">
        <div class="featured-container p-5">
          <img src="assets/img/img-products/product-2.png" alt="" class="img-fluid">
          <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
            <i class="fas fa-search"></i>
          </span>
          <a href="#" class="featured-store-link text-capitalize">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2">
          special product
        </h6>
        <h6 class="text-center">
          <span class="text-muted old-price mx-2">$200</span>
          <span>$100</span>
        </h6>
      </div>
      <!-- end of single product -->
      <!-- single product -->
      <div class="col-10 mx-auto col-md-6 col-lg-4">
        <div class="featured-container p-5">
          <img src="assets/img/img-products/product-3.png" alt="" class="img-fluid">
          <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
            <i class="fas fa-search"></i>
          </span>
          <a href="#" class="featured-store-link text-capitalize">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2">
          special product
        </h6>
        <h6 class="text-center">
          <span class="text-muted old-price mx-2">$200</span>
          <span>$100</span>
        </h6>
      </div>
      <!-- end of single product -->
      <!-- single product -->
      <div class="col-10 mx-auto col-md-6 col-lg-4">
        <div class="featured-container p-5">
          <img src="assets/img/img-products/product-4.png" alt="" class="img-fluid">
          <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
            <i class="fas fa-search"></i>
          </span>
          <a href="#" class="featured-store-link text-capitalize">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2">
          special product
        </h6>
        <h6 class="text-center">
          <span class="text-muted old-price mx-2">$200</span>
          <span>$100</span>
        </h6>
      </div>
      <!-- end of single product -->
      <!-- single product -->
      <div class="col-10 mx-auto col-md-6 col-lg-4">
        <div class="featured-container p-5">
          <img src="assets/img/img-products/product-5.png" alt="" class="img-fluid">
          <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
            <i class="fas fa-search"></i>
          </span>
          <a href="#" class="featured-store-link text-capitalize">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2">
          special product
        </h6>
        <h6 class="text-center">
          <span class="text-muted old-price mx-2">$200</span>
          <span>$100</span>
        </h6>
      </div>
      <!-- end of single product -->
    </div>
  </div>
</section>
<!-- end of featured section -->