<script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>


<section id="productAdd" class="add-product py-5">
  <div class="container">
    <form action="#" method="post">
      <h2 class="text-center">Add Category</h2>

      <div class="form-group">
        <label for="exampleInputName">Category Name</label>
        <input type="text" class="form-control" id="exampleInputName" placeholder="Enter category name">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>